[Desktop Entry]
Comment=
Exec='/usr/local/bin/tiemu'
GenericName=
Icon=/usr/local/share/tiemu/pixmaps/icon.xpm
InitialPreference=2
MimeType=application/x-tiemu-rom;application/x-tiemu-sav;
Name=TiEmu
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
